{% extends 'base.html' %}
{% block page_content %}

    <div class="jumbotron parent">
        <img style="width: 100%"
             src="https://images.drive.com.au/caradvice/image/private/c_fill,f_auto,g_auto,h_674,q_auto:eco,w_1200/9bcc927f65c9ada4a9d6caaa21e925a1" alt="">
        <div class="absolute">
            <h1 class="display-4">1220 hp at one photo</h1>
            <hr class="my-4">
            <div class="inner cover">
                <h1 class="cover-heading"></h1>
                <div class="row">

                    <div class="col-lg-6">
                        <p class="lead">

                                <a href="#" class="btn btn-lg btn-secondary">See owners</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}